{% extends "basic.html" %}

{% block title %}ContactUs{% endblock %}

{% block body %}
<div class="container my-3" >
    <div class="card w-100 my-5 mx-auto" >
        <h3 class="card-title my-2" >Contact Us</h3>
        <div class="card-body ">
            <form action="contact" method="POST">
                <div class="form-floating mb-3">
                    <input style="border-radius: 20px;" type="text" class="form-control" id="name" name="name" placeholder="Name" required>
                    <label  for="floatingInput"><h5>Name</h5></label>
                </div>
                <div class="form-floating mb-3">
                    <input style="border-radius: 20px;" type="email" class="form-control" id="email" name="email"
                        placeholder="name@example.com required">
                    <label  for="floatingInput"><H5>Email Address </H5></label>
                </div>
                <div class="form-floating mb-3">
                    <input style="border-radius: 20px;" type="tel" class="form-control" id="tele" name="tele" placeholder="Phone Number" required>
                    <label  for="floatingPassword"><h5>Phone Number</h5></label>
                </div>
                <div class="form-floating mb-3">
                    <textarea style="border-radius: 20px; height: 100px;" class="form-control" placeholder="Leave a comment here"
                        name="content" id="content"></textarea>
                    <label  for="floatingTextarea"><h5>Describe your Issues/Suggestions</h5></label>
                </div>
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-primary my-1" style="width: 125px;">Submit Form</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}