{% extends "basic.html" %}

{% block title %} Home{% endblock %}
{% block style%}

{% endblock %}
{% block body %}

<div class="head my-3">
  <h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;text-align: center;">Welcome to
    TimeTable</h2>
</div>

<div class="container my-3">
  {% if remind|length >= 1 %}
  <div class="card w-100 my-2 mx-auto">
    <h3 class="card-title my-2" >Your Reminders</h3>
    <div class="card-body">
      <ol style="font-size: 1.2rem;">
        {% for event in remind %}
        <li>{{event.event}} - on {{event.date}} at {{event.time}}</li>
        {% endfor %}
      </ol>

      <a href="reminders" class="mx-1">
        <button class="btn btn-outline-primary">Check all Reminders</button>
      </a>
    </div>
  </div>
  {% else %}
  <div class="card w-100 my-3 mx-auto">
    <h3 class="card-title my-2" >Create Reminders</h3>
    <div class="card-body">

      <li style="font-size: 1.2rem;">You can add Reminders like:</li>
      <ol class="my-1" style="font-size: 1.2rem;">
        <li>Organize Wardrobe</li>
        <li>Pick XYZ from XYZ place</li>
        <li>Listen to a special podcast</li>
        <li>Pick Money from XYZ</li>
        <li>Complete Bank Work</li>
        <li>Transfer Money to XYZ friend</li>
        <li>Happy Birthday of a friend</li>
        <li>Anniversary</li>
        <li>Function/Party</li>
      </ol>

      <a href="reminder">
        <button class="btn btn-outline-primary my-2">Create reminders</button>
      </a>
    </div>
  </div>
  {% endif %}
  {% if timetable %}
  <div class="card w-100 my-3 mx-auto">
    <h3 class="card-title my-2" style="font-size: 1.3rem;">Your Timetable</h3>
    <div class="card-body">
      <ol style="font-size: 1.2rem;">
        {% for time, topic in timetable %}
        <li>{{ time }} - {{ topic }}</li>
        {% endfor %}
      </ol>
      <a href="timetables">
        <button class="btn btn-outline-primary">Check all Timetable</button>
      </a>
    </div>
  </div>
  {% else %}
  <div class="card w-100 my-3 mx-auto">
    <h3 class="card-title my-2">Create Timetable</h3>
    <div class="card-body">
      <li style="font-size: 1.2rem;">You can add Timetable like:</li>
      <ol style="font-size: 1.2rem;">
        <li>9:00 - Python Learning</li>
        <li>10:00 - Html Course</li>
        <li>12:00 - Cook Lunch</li>
        <li>14:00 - Watch F.R.I.E.N.D.S</li>
        <li>18:00 - Python Learning</li>
        <li>21:00 - Cook Dinner</li>
        <li>22:00 - Read Ai Magzine</li>
      </ol>
      <a href="timetable">
        <button class="btn btn-outline-primary">Create Your Timetable</button>
      </a>
    </div>
  </div>
  {% endif %}

</div>

{% endblock %}